.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.closeButton {
  background-color: blue;
  position: absolute;
  right: 4px;
  top: 4px;
}

dialog[open] {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  height: 50%;
  width: 60%;
  border-color: #4c8e5f;
}

dialog::backdrop {
  opacity: 40%;
  background-color: #dad3e3;
  background-image: linear-gradient(130deg, #dad3e3, #4c8e5f 41.07%, #412563 76.05%);
}
