.container {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  color: #46795a;
}

.logo {
  height: 24px;
}

.subtitle {
  font-family: Usual;
  color: inherit;
}

.links {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: Usual;
  color: inherit;
  list-style: none;
  list-style-position: initial;
  list-style-image: initial;
  list-style-type: none;
  column-gap: 16px;
  padding: 0;
}

.addNew {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 16px;
  width: 16px;
  background-color: #46795a;
  color: white;
  line-height: unset;
  border-radius: 0;
  padding: 4px;
}
