.container {
  display: flex;
  flex-direction: row;
  gap: 8px;
  padding: 8px;
  height: 148px;
  width: 100%;
  border-top: 2px solid #46795a;
  font-family: Usual;
  font-size: 14px;
}

p {
  margin: 0;
}

.text {
  display: flex;
  font-family: Usual;
  font-style: normal;
  font-weight: 500;
  color: #46795a;
}

.textContainer {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 16px;
}

.titleText {
  display: flex;
  flex-direction: row;
  gap: 36px;
}

.titleWithButton {
  display: flex;
  flex-direction: row;
  gap: 4px;
}
.button {
  height: 16px;
}

.details {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 24px;
}

.image {
  height: 148px;
}
